body {
  font-family: 'Permanent Marker', cursive;
}

header {
  text-align: center;
  font-size: 5em;
}

#container {
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.r0.r1.r2 {
  margin: 0;
  background-color: grey;
  border: 1px solid black;
}

.textUnder {
  font-size: 25px;
  line-height: 2em;
  text-align: center;
  margin-top: 0.5em;
}

.box {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: 1px;
  padding: 0;
}

.imageInBox {
  content: url('#');
  display: none;
}

.displayX1 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/cross1.png');
}

.displayX2 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/cross2.png');
}

.displayX3 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/cross3.png');
}

.displayO1 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/circle1.png');
}

.displayO2 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/circle2.png');
}

.displayO3 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  content: url('../images/circle3.png');
}


.score {
  display: inline-block;
  margin: 0 2em 0 2em;
}


footer {
  float: right;
}

button {
}

.insideFooter {
  display: inline-block;
}

#replayButton {
}

.buttonDiv {
  padding: 1em;
}
