body {
  font-family: 'Permanent Marker', cursive;
}

header {
  text-align: center;
  font-size: 5em;
}

#container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.r0.r1.r2 {
  margin: 0;
  background-color: grey;
  border: 1px solid black;
}

.textUnder {
  font-size: 25px;
  line-height: 2em;
  text-align: center;
  margin-top: 0.5em;
}

.row {
  height: 33%;
}

.box {
  border: 1px solid black;
  height: 100%;
  width: 33%;
  margin: 1px;
  padding: 0;
}

.imageInBox {
  content: url('#');
  display: none;
}

.displayX1 {
  background-image: url('../images/cross1.png');
  background-size: cover;
}

.displayX2 {
  background-image: url('../images/cross2.png');
  background-size: cover;
}

.displayX3 {
  background-image: url('../images/cross3.png');
  background-size: cover;
}

.displayO1 {
  background-image: url('../images/circle1.png');
  background-size: cover;
}

.displayO2 {
  background-image: url('../images/circle2.png');
  background-size: cover;
}

.displayO3 {
  background-image: url('../images/circle3.png');
  background-size: cover;
}


.score {
  display: inline-block;
  margin: 0 2em 0 2em;
}

#player1Score {
  color: #007bff;
}

#player2Score {
  color: #dc3545;
}


footer {
  float: right;
}

button {
}

.insideFooter {
  display: inline-block;
}

#replayButton {
}

.buttonDiv {
  padding: 1em;
}

.btn-group-toggle {
  display: inline-block;
}

.playerNames {
  display: inline-block;
  line-height: 15px;
}

.blue {
  color: #007bff;
}

.red {
  color: #dc3545;
}

/* .alert {
  visibility: hidden;
} */
